<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
    <meta content="text/html; charset=US-ASCII" http-equiv="Content-Type"/>
    <title th:text="#{label.pages.home.title}">home</title>
</head>
<body>
<div>

    <h1 class="alert alert-info" th:text="#{message.regSucc}">success</h1>
    <br/>
    <span th:if="${param.token != null}" th:text="#{token.message}">token</span>
    <span th:text="${param.token}">token</span>
    <br/>
    <a class="btn btn-primary" th:href="@{/login}" th:text="#{label.login}">login</a>
</div>
</body>
</html>