<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html>

<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
<meta content="text/html; charset=US-ASCII" http-equiv="Content-Type"/>
<title th:text="#{label.pages.home.title}">home</title>
</head>
<body>
<div class="container">
    <h1 class="alert alert-success" th:text="#{message.regSucc}">success</h1>
    <a th:href="@{/login}" th:text="#{label.login}">login</a>
</div>
</body>
</html>