<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot WebSocket</title>
    <link rel="stylesheet" th:href="@{/css/test.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<div id="test-container">
    <div class="test-header">
        <h3>Spring WebSocket test</h3>
        <div class="user-container">
            <span id="username" th:utext="${username}"></span>
        </div>
    </div>
    <hr/>

    <div id="connecting">Connecting...</div>
    <ul id="messageArea">
    </ul>
    <form id="messageForm" name="messageForm">
        <div class="input-message">
            <input type="text" id="message" autocomplete="off"
                   placeholder="Type a message..."/>
            <button type="submit">Send</button>
        </div>
        <div id="textMessage"></div>
    </form>
    <form id="inputForm" name="inputForm">
        <div class="input-message">
            <input autocomplete="off" id="field1" placeholder="Type a message..."
                   type="text"/>
            <button type="submit">Send-1</button>
            <input id="button2" name="button2" type="button" value="Send-2"/>
            <input id="button3" name="button3" type="button" value="Send-3"/>
            <!--<button id="button3" name="button3" type="button">Send-3</button>-->
        </div>
        <div id="textField1"></div>
    </form>
    <form id="inputForm2" name="inputForm2">
        <div class="input-message">
            <input autocomplete="off" id="field2" placeholder="Type a message..."
                   type="text"/>
            <button id="button4" name="button4" type="submit">SendTest</button>
        </div>
        <div id="textField2"></div>
    </form>
    <hr/>
    <!--<ul id="messageArea2">-->
    <!--</ul>-->
</div>

<script th:src="@{/js/test.js}"></script>

</body>
</html>